<p id="notice"><%= notice %></p>
<div id="gallery">
  <% for photo in @photos %>
    <figure class="figure">
      <%= image_tag photo['image_url'] %>
      <% if user_logged_in? %>
	      <div class="details">
          <% unless @likes.include? photo['id'] %>
  	      	<a><%= link_to "Like", like_photo_path(photo['id']) %></a>
          <% else %>
  	      	<a><%= link_to "Unlike", unlike_photo_path(photo['id']), method: :delete %></a>
          <% end %>
	      	<%= photo['rating'] %>
          <%= photo['positive_votes_count'] %>
	      </div>
	  <% end %>
      <figcaption class="figure-caption"><%= photo['name'] %></figcaption>
    </figure>
  <% end %>
</div>